
<div id="shortcut1" style="display:none">
    <ul>
        <li>
            <a href="@Url.Action("HistoryServiceStation", "Map")" id="toplione" class="jarvismetro-tile big-cubes bg-color-blue"> <span class="iconbox"> <i class="fa fa-map-marker fa-4x"></i><span>仓库业务分部 </span> </span> </a>
        </li>
        <li>
            <a href="@Url.Action("WarehouseStationRelation", "Map")" id="toplitwo" class="jarvismetro-tile big-cubes bg-color-orangeDark"> <span class="iconbox"> <i class="fa fa-codepen fa-4x"></i> <span>仓库服务站关系</span> </span> </a>
        </li>
        <li>
            <a href="@Url.Action("googlemap", "home")" class="jarvismetro-tile big-cubes bg-color-purple"> <span class="iconbox"> <i class="fa fa-map-marker fa-4x"></i> <span>Maps</span> </span> </a>
        </li>
        <li>
            <a href="@Url.Action("invoice", "misc")" class="jarvismetro-tile big-cubes bg-color-blueDark"> <span class="iconbox"> <i class="fa fa-book fa-4x"></i> <span>Invoice <span class="label pull-right bg-color-darken">99</span></span> </span> </a>
        </li>
        <li>
            <a href="@Url.Action("gallery", "appviews")" class="jarvismetro-tile big-cubes bg-color-greenLight"> <span class="iconbox"> <i class="fa fa-picture-o fa-4x"></i> <span>Gallery </span> </span> </a>
        </li>
        <li>
            <a href="@Url.Action("profile", "appviews")" class="jarvismetro-tile big-cubes bg-color-pinkDark"> <span class="iconbox"> <i class="fa fa-user fa-4x"></i> <span>My Profile </span> </span> </a>
        </li>
    </ul>
</div>
<script>
    $(function () {
        $('.jarvismetro-tile').removeClass('selected');
        var test = window.location.pathname;
        if (test == "/Map/HistoryServiceStation") {
            $("#toplione").addClass('selected');
        }
        else if (test == "/Map/WarehouseStationRelation") {
            $("#toplitwo").addClass('selected');
        }

    });
</script>