@using NBK.WMS.Portal.Helpers
@model NBK.ECService.WMS.DTO.CarrierDto
@{
    ViewBag.Title = "编辑承运商";
}

@Html.Breadcrumb("承运商管理", "/Carrier/CarrierList", "编辑承运商")
<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="ibox-content  m-b-sm border-bottom">
        <form id="editCarrierForm" class="form-horizontal" method="get">
            <input type="hidden" id="SysId" name="SysId" value="@Model.SysId" />
            <div class="form-group">
                <label class="col-sm-2 control-label">承运商名称:</label>
                <div class="col-sm-4"><input type="text" id="CarrierName" name="CarrierName" class="form-control" value="@Model.CarrierName"></div>

                <label class="col-sm-2 control-label">承运商联系电话:</label>
                <div class="col-sm-4"><input type="text" id="CarrierPhone" name="CarrierPhone" class="form-control" value="@Model.CarrierPhone"></div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">承运商外部ID:</label>
                <div class="col-sm-4"><input type="text" id="OtherCarrierId" name="OtherCarrierId" class="form-control" value="@Model.OtherCarrierId"></div>

                <label class="col-sm-2 control-label">承运商联系人:</label>
                <div class="col-sm-4"><input type="text" id="CarrierContacts" name="CarrierContacts" class="form-control" value="@Model.CarrierContacts"></div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">启用:</label>
                <div class="col-sm-4">
                    <div class="checkbox i-checks">
                        <input type="checkbox" id="IsActive" name="IsActive" checked="@Model.IsActive"><i></i>
                    </div>
                </div>
            </div>
        </form>
        <div class="ibox-footer text-right tooltip-demo">
            <a class="btn btn-sm btn-primary" id="btnSave" onclick="editCarrier();"><i class="fa fa-check-square-o"></i> 保存</a>
            <a class="btn btn-white btn-sm" id="btnBack" onclick="goBack();"><i class="fa fa-times"></i> 返回</a>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables", "~/plugins/validate")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/validate/cnMessage")
    <script src="~/Scripts/Utility/Common.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green'
            });

            $("#editCarrierForm").validate({
                rules: {
                    CarrierName: {
                        required: true,
                        maxlength: 32
                    },
                    CarrierPhone: {
                        required: true,
                        maxlength: 32
                    },
                    OtherCarrierId: {
                        required: true,
                        maxlength: 64
                    },
                    CarrierContacts: {
                        required: true,
                        maxlength: 32
                    }
                }
            });
        });

        function editCarrier() {
            if ($("#editCarrierForm").valid()) {
                $.ajax({
                    url: "/Carrier/SaveEditCarrier",
                    type: "POST",
                    data: $("#editCarrierForm").serializeObject(),
                    success: function (data) {
                        if (data.Success) {
                            msgSuccess(data.Message);
                            window.location.href = "/Carrier/CarrierList";
                        }
                    },
                    error: function (data) {
                        msgErro(data.Message);
                    }
                });
            }
        }
    </script>
}