@using NBK.WMS.Portal.Helpers
@{
    ViewBag.Title = "新增用户";
}

@Html.Breadcrumb("工单用户管理", "/WorkUser/WorkUserList", "新增用户")
<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="ibox-content  m-b-sm border-bottom">
        <form id="addWorkUserForm" class="form-horizontal" method="get">
            <div class="form-group">
                <label class="col-sm-2 control-label">用户编号:</label>
                <div class="col-sm-4"><input type="text" id="WorkUserCode" name="WorkUserCode" class="form-control"></div>

                <label class="col-sm-2 control-label">用户姓名:</label>
                <div class="col-sm-4"><input type="text" id="WorkUserName" name="WorkUserName" class="form-control"></div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">工种:</label>
                <div class="col-sm-4">
                    <select id="WorkType" name="WorkType" class="form-control">
                        @{
                            <option value="">请选择</option>
                            foreach (var workType in (List<SelectListItem>)ViewBag.WorkTypeList)
                            {
                                <option value="@workType.Value">@workType.Text</option>
                            }
                        }
                    </select>
                </div>

                <label class="col-sm-2 control-label">启用:</label>
                <div class="col-sm-4">
                    <div class="checkbox i-checks">
                        <input type="checkbox" id="IsActive" name="IsActive" checked><i></i>
                    </div>
                </div>
            </div>

        </form>
        <div class="ibox-footer text-right tooltip-demo">
            <a class="btn btn-sm btn-primary" id="btnSave" onclick="addWorkUser();"><i class="fa fa-check-square-o"></i> 保存</a>
            <a class="btn btn-white btn-sm" id="btnBack" onclick="goBack();"><i class="fa fa-times"></i> 返回</a>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables", "~/plugins/validate")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/validate/cnMessage")
    <script src="~/Scripts/Utility/Common.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green'
            });

            $("#addWorkUserForm").validate({
                rules: {
                    WorkUserCode: {
                        required: true,
                        maxlength: 128
                    },
                    WorkUserName: {
                        required: true,
                        maxlength: 128
                    }
                }
            });
        });

        function addWorkUser() {
            if ($("#addWorkUserForm").valid()) {
                $.ajax({
                    url: "/WorkUser/SaveAddWorkUser",
                    type: "POST",
                    data: $("#addWorkUserForm").serializeObject(),
                    success: function (data) {
                        if (data.Success) {
                            msgSuccess(data.Message, setTimeout(function () { window.location.href = "/WorkUser/WorkUserList"; }, 100));
                        } else {
                            msgErro(data.Message);
                        }
                    },
                    error: function (data) {
                        msgErro(data.Message);
                    }
                });
            }
        }
    </script>
}

