@using WMS.Global.Portal.Helpers
@using NBK.AuthServiceUtil
@using NBK.ECService.WMSReport.DTO.Base

@{
    ViewBag.Title = "SN管理报表";
}

@Html.Breadcrumb("报表", "SN管理报表")
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
}

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="ibox-content m-b-sm border-bottom">
        <form method="post" id="exportForm">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">所属仓库:</label>
                        <select id="SearchWarehouseSysId" name="SearchWarehouseSysId" class="form-control">
                            @{
                                foreach (var warehouse in (List<SelectItem>)ViewBag.WarehouseList)
                                {
                                    <option value="@warehouse.Value">@warehouse.Text</option>
                                }
                            }
                        </select>
                    </div>
                </div> 
                <div class="col-sm-3">
                    @Html.SearchTextBox("序列号", "SN")
                </div>
                <div class="col-sm-3" >
                    @Html.SearchTextBox("入库单号", "PurchaseOrder")
                </div>
                <div class="col-sm-3" >
                    @Html.SearchTextBox("出库单号", "OutboundOrder")
                </div> 
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label" for="Status">状态</label>
                        <select class="form-control m-b" name="Status" id="Status">
                            <option selected>全部</option>
                            <option value="1">收货</option>
                            <option value="2">发货</option>
                        </select>
                    </div>
                </div> 
                <div class="col-sm-3">
                    @Html.DataPickerTextBox("入库时间从", "PurchaseDateFrom")
                </div>
                <div class="col-sm-3">
                    @Html.DataPickerTextBox("入库时间到", "PurchaseDateTo")
                </div>
                <div class="col-sm-3">
                    @Html.DataPickerTextBox("出库时间从", "OutboundDateFrom")
                </div> 
            </div>
            <div class="row">
                <div class="col-sm-3">
                    @Html.DataPickerTextBox("出库时间到", "OutboundDateTo")
                </div>
                <div class="col-sm-3">
                    <button id="btnSearch" class="btn btn-primary" type="button" style="margin-top:25px;float: left; ">查询</button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <table id="gvSNManageReport" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th data-data="WarehouseName">所属仓库</th> 
                                <th data-data="SN">序列号/SN</th>
                                <th data-data="PurchaseOrder">入库单号</th>
                                <th data-data="DisplayStatus">状态</th>
                                <th data-data="DisplayPurchaseDate"> 入库时间 </th>
                                <th data-data="OutboundOrder">出库单号</th>
                                <th data-data="DisplayOutboundDate">出库时间</th>
                                <th data-data="ConsigneeName">收货人</th>
                                <th data-data="ConsigneePhone">联系方式</th>
                                <th data-data="ConsigneeAddress" width="20%">收货地址</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/dataPicker")

    <script>
        var SNManageReport = {
            table: {},
            init: function () {
                var _self = this;
                $('#divPurchaseDateFrom .input-group.date').datepicker({
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    calendarWeeks: true,
                    autoclose: true
                });
                $('#divPurchaseDateTo .input-group.date').datepicker({
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    calendarWeeks: true,
                    autoclose: true
                });

                $('#divOutboundDateFrom .input-group.date').datepicker({
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    calendarWeeks: true,
                    autoclose: true
                });
                $('#divOutboundDateTo .input-group.date').datepicker({
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    calendarWeeks: true,
                    autoclose: true
                });

                _self.table = $('#gvSNManageReport').DataTable({
                    "sAjaxSource": "GetSNManageReport",
                    "fnServerParams": function (aoData) { //查询条件
                        aoData.push(
                            { "name": "SearchWarehouseSysId", "value": $("#SearchWarehouseSysId").val() }, 
                            { "name": "SN", "value": $("#SN").val() },
                            { "name": "PurchaseOrder", "value": $("#PurchaseOrder").val() },
                            { "name": "OutboundOrder", "value": $("#OutboundOrder").val() },
                            { "name": "Status", "value": $("#Status").val() },
                            { "name": "PurchaseDateFrom", "value": $("#PurchaseDateFrom").val() },
                            { "name": "PurchaseDateTo", "value": $("#PurchaseDateTo").val() },
                            { "name": "OutboundDateFrom", "value": $("#OutboundDateFrom").val() },
                            { "name": "OutboundDateTo", "value": $("#OutboundDateTo").val() }
                        );
                    },
                    dom: 'Bfrtip',
                    buttons: [
                        'pageLength'
                    ],
                    "columnDefs": [],
                    "bServerSide": true,
                    "bProcessing": true,
                    "bPaginate": true, //翻页功能
                    "bLengthChange": true, //改变每页显示数据数量
                    "bFilter": false, //过滤功能
                    "bSort": false, //排序功能
                    "bInfo": true, //页脚信息
                    "bAutoWidth": true, //自动宽度
                    "aaSorting": [[2, "Asc"]],
                    "iDisplayLength": 50, 
                    "oLanguage": {
                        buttons: {
                            pageLength: {
                                _: "每页显示 %d 条记录"
                            }
                        },
                        "sLengthMenu": "每页显示 _MENU_ 条记录",
                        "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                        "sInfoEmpty": "",
                        "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                        "oPaginate": {
                            "sFirst": "首页",
                            "sPrevious": "前一页",
                            "sNext": "后一页",
                            "sLast": "尾页"
                        },
                        "sZeroRecords": "没有检索到数据"
                    }
                });

                $("#btnSearch").bind("click", function () { //按钮 触发table重新请求服务器
                    SNManageReport.table.ajax.reload();
                });

            }
        }

        $(function () {
            SNManageReport.init();
        })


    </script>
}